[Unit]
Description=Monitor WebUI
After=network.target
Wants=network.target
StartLimitBurst=1
StartLimitIntervalSec=1s

[Service]
Type=simple
ExecStart=/usr/local/bin/web-ui

Restart=on-failure
RestartSec=5s
# Track "active" state after exit
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

# sET Environment variables and working directory
Environment=DATA_DIR=/var/lib/web-ui
WorkingDirectory=/var/lib/web-ui

[Install]
WantedBy=multi-user.target