[Unit]
Description=SCION shttp Webserver
Documentation=https://github.com/netsec-ethz/scion-apps/blob/master/_examples/shttp/README.md
After=network-online.target
StartLimitBurst=1
StartLimitIntervalSec=1s

[Service]
Type=oneshot
ExecStart=/usr/local/bin/shttp-webserver
Restart=on-failure
RestartSec=5s
RemainAfterExit=yes  # Track "active" state after exit
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
